{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="menu-container">
                <div class="menu-header">
                    <img src="{% static 'logo_ristorante_milano.jpg' %}" alt="Ristorante Milano"
                        class="img-fluid"
                        style="height: clamp(40px, 8vw, 100px); width: auto; margin-right: 6px;">
                </div>
                
                <div class="p-4 text-center">
                    <a href="{% url 'menu' %}" class="btn btn-primary btn-lg">Menù</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}